<!DOCTYPE html>
<!-- Mi primera página dinamica-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop 2020</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        
        <h1>[[#{producto.existencias}]]</h1>
        <p>[[${variable}]]</p>
        <h2>Su edad es: [[${edad}]]</h2>
        
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
